@font-face
{
	font-family: 'Sansation_Light';
	src: url('fonts/Sansation_Light.eot') format('embedded-opentype'),
	     url('fonts/Sansation_Light.ttf') format('truetype');
}

/*Geral*/
section#home > header h1{
    font-size: 2.25em;
    padding-left: 10pt;
    padding-bottom: 0pt;
}

section#home > header{
    margin-top: 7em;
    margin-bottom: 0;
}

section#home{
    padding-top: 6em;
}

#nav{
    border-bottom: 10px #ff9900 solid;
    /*box-shadow: 0 5px 10px #ccc;*/
}
    .circular img{
        border: 0.3em solid #fff  ;
        box-shadow: 0 0 1em rgba(0,0,0, .8);
        -webkit-box-shadow: 0 0 1em rgba(0,0,0, .8);
        -moz-box-shadow: 0 0 1em rgba(0,0,0, .8);
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        z-index: 9;
    }

    .circular a{
        text-decoration: none;
    }

    #efeito2 .circular img:hover,
    .circular img:hover{
        border: 0.3em solid #ff9900/*#2DAAE4*/;
    }

#efeito1 .info,
#efeito2 .info{
    display: none;
}

.info{
    position: relative;

    float: right;
    margin-right: 3em;
    padding: 25px 15px 15px 15px;

    box-shadow: 2px 2px .5em rgba(0,0,0, .5);
    -webkit-box-shadow: 2px 2px .5em rgba(0,0,0, .5);
    -moz-box-shadow: 2px 2px .5em rgba(0,0,0, .5);

    width: 80%;
    z-index: 11;
}

    .info img{
       width: 30%;
    }

    .info .descricao{
        text-align: justify;
        text-indent: 3em;
        float: right;
        width: 65%;
        margin: 1em;
    }

    .info .descricao p:before{
        content: url("images/quote_2.png");
        margin-bottom: 10px;
        margin-right: 15px;
    }
    
    .info .descricao p:after{
        content: url("images/quote_1.png");
        margin-top: 10px;
        margin-left: 15px;
    }
    
.selected{
    float: right;
    position: relative;
    top: -4em;

    border-color: transparent #ccc transparent transparent; 
    border-width:30px; 
    border-style:solid;

    z-index: 11;
}

/* EFEITO 1 */ 
#efeito1 .circular,
#efeito1 .membro{
    z-index: 10;
    display: inline;
    margin-left: 10px;
    float: left;
}

#efeito1 .circular,
#efeito1 .circular img{
    width: 12em;
    height: 12em;
    float: left;
}

#efeito1 .info img,
#efeito1 .info footer{
    display: none;
}

/* EFEITO 2 */
#efeito2 .circular,
#efeito2 .membro{
    z-index: 10;
    display: block;
    margin-left: 10px;
    margin-top: 1em;
    margin-bottom: 0;
}

#efeito2 .circular,
#efeito2 .circular img{
    width: 5em;
    height: 5em;
}

    #efeito2 .circular:first-child{
        margin-top: 0;
    }

    #efeito2 .circular img{
        border: 0.3em solid #fff;
    }

    #efeito2 .selecionado .info{
        display: block;
    }

#efeito2 img
{
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);    
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}

#efeito2 img:hover,
#efeito2 .selecionado img
{
    -webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);    
         -o-filter: grayscale(0%);
            filter: grayscale(0%);
}
#efeito2 .inicial,
#efeito2 .inicial_2,
#efeito2 .inicial_3{
    display: none;
}

#efeito1 .inicial,
#efeito1 .inicial_2,
#efeito1 .inicial_3{
    float: left;
    position: relative;
    font-size: 3em;
    width: 40px;
    /*top: 52%;*/
    top: 30%;
    font-family: Sansation_Light;
}

#efeito1 .inicial{
    left: 41%;
    /*left: 8%; */
}

#efeito1 .inicial_2{
    left: 18%;
}

#efeito1 .inicial_3{
    left: 13%
}

#efeito1{
    margin-top: 6%;
}